@font-face {
    font-family: PTSans;
    src: url(./font/PTSans-Regular.ttf);
  }
@font-face {
    font-family: Rubic;
    src: url(./font/Rubik-VariableFont_wght.ttf);
}

.col-md-4 {
  background-color: #27355C;
  padding: unset !important;
}

.card-body {
  background: #fff url(/img/brainbg.jpg) center center/cover no-repeat;
}

.col-md-8 {
  padding-left: unset !important;
}

.h100 {
  height: 100vh;
}

.logo {
  position: absolute;
  top: 0;
  width: 100%;
}

.logo img {
  width: 80px;
}

.linkbar a {
  color: #AEB9D9;
  text-decoration: none;
  border-left: 3px solid transparent;
  padding-left: 50px;
  transition: all ease-in-out 125ms;
  font-family: Rubic;
}

.linkbar a:hover {
  border-left: 3px solid white;
  color: white;
  transition: all ease-in-out 125ms;
}

.linkFocused {
  border-left: 3px solid white !important;
  color: white !important;
}

.card-body button {
  position: absolute;
  display: flex;
  justify-content: space-around;
  align-items: center;
  
  bottom: 5%;
  right: 5%;
  background-color: #FF4E10;
  border: unset;
  border-radius: 5px;
  color: white;
  padding: 5px 0px 5px 10px;
  width: 150px;
}

.card-body button img {
  width: 20px;
}

.card-body {
  font-family: PTSans;
}

.card-body h5 {
  font-weight: bold;
}
